html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
}

div {
  box-sizing: border-box;
}

.whatsapp-open {
  position: fixed;
  width: 60px;
  height: 60px;
  border: 2px solid #22cc60;
  background: none #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 1px 1px 5px #252525;
  z-index: 2147483647;
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  cursor: pointer;
  box-sizing: border-box;
}

.whatsapp-open svg {
  width: 30px;
  margin: unset;
  padding: unset;
  margin-left: 2px;
  box-sizing: border-box;
}

.expad {
  opacity: 0;
  /* width: 414px; */
  /* height: 530px; */
}

.expad .whatsapp-modal {
  height: 100%;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.expad .whatsapp-modal .expad-whatsapp-modal-header {
  padding: 0 14px;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
  background: #3ad277;
  box-shadow: 0px 6px 13px 3px rgba(62, 211, 122, 0.26);
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}

.expad .whatsapp-modal .expad-whatsapp-modal-header .whatsapp-logo {
  width: 48px;
  height: 48px;
}

.expad .whatsapp-modal .expad-whatsapp-modal-header .title {
  flex: 1;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
}

.expad .whatsapp-modal .expad-whatsapp-modal-header .close-modal {
  height: 23px;
  cursor: pointer;
}

.expad .whatsapp-modal #expad-whatsapp-modal-content {
  overflow: auto;
  padding: 14px;
  flex: 1;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.expad
  .whatsapp-modal
  #expad-whatsapp-modal-content
  #expad-whatsapp-modal-content-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #4e4e4e;
  padding-top: 30px;
}

.expad
  .whatsapp-modal
  #expad-whatsapp-modal-content
  #expad-whatsapp-modal-content-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #5d6470;
  padding-top: 4px;
}

.expad .whatsapp-modal #expad-whatsapp-modal-content .whatsapp-form {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.expad .whatsapp-modal #expad-whatsapp-modal-content .whatsapp-form > div {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 399px) {
  .expad .whatsapp-modal #expad-whatsapp-modal-content .whatsapp-form > div {
    display: block;
  }
}

.expad .whatsapp-modal #expad-whatsapp-modal-content .whatsapp-form .fields {
  position: relative;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.expad
  .whatsapp-modal
  #expad-whatsapp-modal-content
  .whatsapp-form
  .fields
  input,
.expad
  .whatsapp-modal
  #expad-whatsapp-modal-content
  .whatsapp-form
  .fields
  textarea {
  width: 100%;
  padding-top: 6px;

  outline: 0;
  position: relative;
  z-index: 2;
  background: transparent;
  border: initial;
  border-width: 0;
  border-color: #e7ecf3;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #5d6470;

  margin: initial;
  padding-left: initial;
  box-shadow: initial;
  display: initial;
  visibility: initial;
  flex: initial;
  float: initial;
  align-items: initial;
  text-align: initial;
  cursor: initial;
  box-sizing: initial;
  text-rendering: initial;
  word-spacing: initial;
  text-transform: initial;
  text-indent: initial;
  text-shadow: initial;
}

.expad
  .whatsapp-modal
  #expad-whatsapp-modal-content
  .whatsapp-form
  .fields
  input {
  border-width: 0 0 1px;
  border-bottom: 1px solid #e7ecf3;
}

.expad
  .whatsapp-modal
  #expad-whatsapp-modal-content
  .whatsapp-form
  .fields
  textarea {
  height: 60px;
}

.expad .whatsapp-modal #expad-whatsapp-modal-content .whatsapp-form .email {
  display: none;
}

.expad
  .whatsapp-modal
  #expad-whatsapp-modal-content
  .whatsapp-form
  .fields
  label {
  position: absolute;
  top: -18px;
  left: 5px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #a7b0c0;

  margin: initial;
  padding: initial;
  border: initial;
  background: initial;
  box-shadow: initial;
  display: initial;
  visibility: initial;
  flex: initial;
  float: initial;
  align-items: initial;
  text-align: initial;
  cursor: initial;
  box-sizing: initial;
  text-rendering: initial;
  word-spacing: initial;
  text-transform: initial;
  text-indent: initial;
  text-shadow: initial;
}

#name-error, #phone-error {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: red;
}

.expad .whatsapp-modal #expad-whatsapp-modal-content .whatsapp-form .submit {
  align-self: flex-start;
  height: 50px;

  outline: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #3ad277;
  background: #ffffff;
  border-radius: 42px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #3ad277;
  cursor: pointer;

  margin: initial;
  display: initial;
  visibility: initial;
  flex: initial;
  float: initial;
  align-items: initial;
  text-align: initial;
  box-sizing: initial;
  text-rendering: initial;
  letter-spacing: initial;
  word-spacing: initial;
  text-transform: initial;
  text-indent: initial;
  text-shadow: initial;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
}

.hide-wpp-element {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.hide-element {
  opacity: 0;
  visibility: hidden;
}

.hide-wpp-element,
.show-modal {
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#whatsapp-list {
  margin: 0;
  flex: 1;
  margin-top: 60px;
  height: calc(100vh - 60px);
}

#whatsapp-list-wrapper {
  padding: 0 10px 10px;
  height: calc(100vh - 60px);
  flex: 1;
  max-height: 100%;
  overflow: auto;
  padding-bottom: 10px;
}

#whatsapp-list ul {
  box-sizing: border-box;
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

#whatsapp-list ul li {
  padding: 2px 0;
}

#whatsapp-list ul li a {
  box-sizing: border-box;
  padding: 9px 10px;
  display: flex;
  justify-content: space-between;
  background: none #1db655;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  border-radius: 0.15rem;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  -o-border-radius: 0.15rem;
  -ms-border-radius: 0.15rem;
  transition: 0.3s;
  overflow: auto;
}

#whatsapp-list ul li a:hover {
  box-shadow: 0 0 5px #505050;
  -webkit-border-shadow: 0 0 5px #505050;
  -moz-border-shadow: 0 0 15px #505050;
  -o-border-shadow: 0 0 5px #505050;
  -ms-border-shadow: 0 0 5px #505050;
  color: #fff;
  transition: 0.3s;
}

#whatsapp-list ul li a span {
  box-sizing: border-box;
  display: inline-block;
  color: #fff;
}

#whatsapp-list ul li a .phone_location,
#whatsapp-list ul li a span i {
  box-sizing: border-box;
  margin-right: 5px;
  color: #fff;
}

#whatsapp-list ul li a .phone_location {
  float: left;
  margin-left: 5px;
  text-transform: capitalize;
}

#whatsapp-list ul li a .phone_number {
  box-sizing: border-box;
  float: right;
  color: #fff;
}

.logo-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
}
.logo-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 53px;
  height: 45px;
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 53 45' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cg filter='url(%23filter0_d_1930_4361)'%3E%3Cpath d='M38.9455 10.1081C35.7029 6.79735 31.2207 5 26.643 5C16.9156 5 9.09543 12.8513 9.19072 22.4053C9.19072 25.4324 10.049 28.3649 11.4796 31.0135L9 40L18.2507 37.6351C20.8256 39.0541 23.6865 39.7163 26.5477 39.7163C36.1798 39.7163 44 31.8648 44 22.311C44 17.6757 42.188 13.3243 38.9456 10.1081H38.9455ZM26.643 36.7839C24.0681 36.7839 21.4932 36.1219 19.2997 34.7975L18.7275 34.5137L13.1962 35.9326L14.6267 30.5408L14.2453 29.9731C10.049 23.257 12.0518 14.3648 18.9182 10.2026C25.7847 6.04052 34.6539 8.02705 38.8502 14.8379C43.0463 21.6486 41.0435 30.446 34.1772 34.6082C31.9836 36.0271 29.3134 36.7838 26.643 36.7838V36.7839ZM35.0354 26.284L33.9863 25.811C33.9863 25.811 32.4606 25.1488 31.5068 24.6758C31.4114 24.6758 31.3161 24.5812 31.2207 24.5812C30.9345 24.5812 30.7438 24.6758 30.5531 24.7705C30.5531 24.7705 30.4578 24.865 29.1226 26.3785C29.0272 26.5677 28.8365 26.6624 28.6458 26.6624H28.5503C28.455 26.6624 28.2643 26.5677 28.1689 26.4732L27.692 26.284C26.643 25.811 25.6894 25.2434 24.9264 24.4867C24.7357 24.2975 24.4495 24.1083 24.2588 23.9191C23.5912 23.257 22.9236 22.5001 22.4469 21.6488L22.3515 21.4596C22.2562 21.365 22.2562 21.2704 22.1608 21.0813C22.1608 20.8921 22.1608 20.7029 22.2562 20.6083C22.2562 20.6083 22.6376 20.1353 22.9236 19.8516C23.1145 19.6623 23.2098 19.3786 23.4005 19.1894C23.5912 18.9056 23.6866 18.5272 23.5912 18.2434C23.4959 17.7704 22.3515 15.2163 22.0655 14.6488C21.8746 14.365 21.684 14.2705 21.3979 14.1758H20.3488C20.158 14.1758 19.9674 14.2705 19.7766 14.2705L19.6811 14.365C19.4904 14.4596 19.2997 14.6488 19.109 14.7433C18.9182 14.9326 18.8228 15.1217 18.6321 15.311C17.9645 16.1623 17.5831 17.2029 17.5831 18.2434C17.5831 19.0001 17.7738 19.7569 18.0599 20.4191L18.1554 20.7029C19.0137 22.5001 20.158 24.1083 21.684 25.5272L22.0655 25.9055C22.3515 26.1894 22.6376 26.3785 22.8283 26.6622C24.8311 28.3651 27.1199 29.5948 29.6948 30.2569C29.9809 30.3515 30.3624 30.3515 30.6485 30.4461H31.6021C32.079 30.4461 32.6512 30.2569 33.0327 30.0678C33.3187 29.8786 33.5095 29.8786 33.7002 29.6894L33.891 29.5001C34.0818 29.3109 34.2725 29.2164 34.4632 29.0272C34.6539 28.8381 34.8446 28.6489 34.9401 28.4596C35.1308 28.0812 35.2261 27.6082 35.3215 27.1354V26.4732C35.3215 26.4732 35.2261 26.3785 35.0354 26.284Z' fill='white' %3E%3C/path%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_1930_4361' x='0' y='0' width='53' height='53' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB' %3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' %3E%3C/feFlood%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha' %3E%3C/feColorMatrix%3E%3CfeOffset dy='4'%3E%3C/feOffset%3E%3CfeGaussianBlur stdDeviation='4.5'%3E%3C/feGaussianBlur%3E%3CfeComposite in2='hardAlpha' operator='out'%3E%3C/feComposite%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.368663 0 0 0 0 0.570833 0 0 0 0 0.449531 0 0 0 0.19 0' %3E%3C/feColorMatrix%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1930_4361' %3E%3C/feBlend%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1930_4361' result='shape' %3E%3C/feBlend%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
}

.close-icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: relative;
}
.close-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 23px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M11.501 22.9999C6.85007 23.0026 2.65585 20.2013 0.875639 15.9032C-0.904576 11.6052 0.0801177 6.65753 3.37021 3.36918C6.27507 0.463436 10.509 -0.671385 14.4771 0.39219C18.4452 1.45576 21.5447 4.55615 22.6079 8.52547C23.6712 12.4948 22.5367 16.73 19.6318 19.6357C17.4795 21.7984 14.5517 23.0098 11.501 22.9999ZM2.30587 11.7002C2.36026 16.7605 6.49094 20.8263 11.5499 20.7993C16.6089 20.7719 20.6957 16.6619 20.6957 11.6013C20.6957 6.54075 16.6089 2.43073 11.5499 2.40339C6.49094 2.37632 2.36026 6.44216 2.30587 11.5025V11.7002ZM8.52295 16.1014L6.90345 14.4803L9.88038 11.5025L6.90345 8.52462L8.52409 6.90348L11.501 9.88132L14.478 6.90348L16.0986 8.52462L13.1217 11.5025L16.0986 14.4803L14.4791 16.1014L11.501 13.1236L8.52409 16.1014H8.52295Z' fill='white' %3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
}
