.whatsapp-open {
  position: fixed !important;
  width: 60px !important;
  height: 60px !important;
  border: 2px solid #22cc60 !important;
  background: none #25d366 !important;
  color: #fff !important;
  border-radius: 50px !important;
  text-align: center !important;
  box-shadow: 1px 1px 5px #252525 !important;
  z-index: 99999997 !important;
  opacity: 1 !important;
  visibility: visible !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  transform: scale(1) !important;
  cursor: pointer !important;
  box-sizing: border-box !important;
}

.whatsapp-open svg {
  width: 30px !important;
  margin: unset !important;
  padding: unset !important;
  margin-left: 2px !important;
  box-sizing: border-box !important;
}

.expad {
  opacity: 0;
  width: 414px;
  height: 530px;
}

.expad .whatsapp-modal {
  z-index: 99999;
  width: 414px;
  min-height: 241px;
  max-height: 80vh;
  background-color: #ffffff;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0px 6px 13px 3px rgba(53, 57, 56, 0.26);
  display: flex;
  flex-direction: column;
}

.expad .whatsapp-modal .expad-whatsapp-modal-header {
  padding: 0 14px;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
  background: #3ad277;
  box-shadow: 0px 6px 13px 3px rgba(62, 211, 122, 0.26);
  border-radius: 20px 20px 0px 0px;
}

.expad .whatsapp-modal .expad-whatsapp-modal-header .whatsapp-logo {
  width: 48px;
  height: 48px;
}

.expad .whatsapp-modal .expad-whatsapp-modal-header .title {
  flex: 1;
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 23px !important;

  color: #ffffff;
}

.expad .whatsapp-modal .expad-whatsapp-modal-header .close-modal {
  height: 23px;
  cursor: pointer;
}

.expad .whatsapp-modal .expad-whatsapp-modal-content {
  overflow: auto;
  padding: 14px;
  flex: 1;
  overflow: -moz-scrollbars-none !important;
  -ms-overflow-style: none !important;
}

.expad
  .whatsapp-modal
  .expad-whatsapp-modal-content
  .expad-whatsapp-modal-content-title {
  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 28px !important;
  color: #4e4e4e !important;
  padding-top: 30px !important;
}

.expad
  .whatsapp-modal
  .expad-whatsapp-modal-content
  .expad-whatsapp-modal-content-text {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  color: #5d6470 !important;
  padding-top: 4px !important;
}

.expad .whatsapp-modal .expad-whatsapp-modal-content .whatsapp-form {
  display: flex;
  flex-direction: column;
}

.expad .whatsapp-modal .expad-whatsapp-modal-content .whatsapp-form > div {
  display: flex;
  flex-direction: row;
}

.expad .whatsapp-modal .expad-whatsapp-modal-content .whatsapp-form .fields {
  position: relative;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #e7ecf3 !important;
}

.expad
  .whatsapp-modal
  .expad-whatsapp-modal-content
  .whatsapp-form
  .fields
  input,
.expad
  .whatsapp-modal
  .expad-whatsapp-modal-content
  .whatsapp-form
  .fields
  textarea {
  width: 100% !important;
  padding-top: 6px !important;

  outline: 0 !important;
  position: relative !important;
  z-index: 2 !important;
  background: transparent !important;
  border: initial !important;
  border-width: 0 !important;
  border-color: #e7ecf3 !important;

  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 28px !important;
  letter-spacing: -0.01em !important;
  color: #5d6470 !important;

  margin: initial !important;
  padding-left: initial !important;
  box-shadow: initial !important;
  display: initial !important;
  visibility: initial !important;
  flex: initial !important;
  float: initial !important;
  align-items: initial !important;
  text-align: initial !important;
  cursor: initial !important;
  box-sizing: initial !important;
  text-rendering: initial !important;
  word-spacing: initial !important;
  text-transform: initial !important;
  text-indent: initial !important;
  text-shadow: initial !important;
}

.expad
  .whatsapp-modal
  .expad-whatsapp-modal-content
  .whatsapp-form
  .fields
  input {
  border-width: 0 0 1px !important;
}

.expad
  .whatsapp-modal
  .expad-whatsapp-modal-content
  .whatsapp-form
  .fields
  textarea {
  height: 60px !important;
}

.expad
  .whatsapp-modal
  .expad-whatsapp-modal-content
  .whatsapp-form
  .fields
  label {
  position: absolute !important;
  top: -18px !important;
  left: 5px !important;
  font-size: 18px !important;
  transition: all 0.3s ease-in-out !important;

  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: -0.01em !important;
  color: #a7b0c0 !important;

  margin: initial !important;
  padding: initial !important;
  border: initial !important;
  background: initial !important;
  box-shadow: initial !important;
  display: initial !important;
  visibility: initial !important;
  flex: initial !important;
  float: initial !important;
  align-items: initial !important;
  text-align: initial !important;
  cursor: initial !important;
  box-sizing: initial !important;
  text-rendering: initial !important;
  word-spacing: initial !important;
  text-transform: initial !important;
  text-indent: initial !important;
  text-shadow: initial !important;
}

.expad .whatsapp-modal .expad-whatsapp-modal-content .whatsapp-form .submit {
  align-self: flex-start;
  height: 50px;

  outline: 0 !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #3ad277 !important;
  background: #ffffff !important;
  border-radius: 42px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;

  font-family: "Roboto" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 23px !important;

  color: #3ad277 !important;
  cursor: pointer !important;

  margin: initial !important;
  display: initial !important;
  visibility: initial !important;
  flex: initial !important;
  float: initial !important;
  align-items: initial !important;
  text-align: initial !important;
  cursor: initial !important;
  box-sizing: initial !important;
  text-rendering: initial !important;
  letter-spacing: initial !important;
  word-spacing: initial !important;
  text-transform: initial !important;
  text-indent: initial !important;
  text-shadow: initial !important;
}

.show-modal {
  opacity: 1 !important;
  visibility: visible !important;
}

.hide-wpp-element {
  opacity: 0 !important;
  visibility: hidden !important;
  display: none !important;
}

.hide-element {
  opacity: 0 !important;
  visibility: hidden !important;
}

.hide-wpp-element,
.show-modal {
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s !important;
}

#whatsapp-list {
  box-sizing: border-box !important;
  overflow-y: auto;
  overflow: -moz-scrollbars-none !important;
  -ms-overflow-style: none !important;
  margin: 0;
  padding: 0 14px 14px;
  flex: 1;
}

#whatsapp-list::-webkit-scrollbar {
  display: none !important;
}

#whatsapp-list ul {
  box-sizing: border-box !important;
  list-style: none !important;
  margin: 10px 0 0 !important;
  padding: 0 !important;
}

#whatsapp-list ul li {
  padding: 2px 0 !important;
}

#whatsapp-list ul li a {
  box-sizing: border-box !important;
  padding: 9px 10px !important;
  display: flex !important;
  justify-content: space-between !important;
  background: none #1db655 !important;
  text-decoration: none !important;
  font-family: Arial, Helvetica, sans-serif !important;
  color: #fff !important;
  border-radius: 0.15rem !important;
  -webkit-border-radius: 0.15rem !important;
  -moz-border-radius: 0.15rem !important;
  -o-border-radius: 0.15rem !important;
  -ms-border-radius: 0.15rem !important;
  transition: 0.3s !important;
  overflow: auto !important;
}

#whatsapp-list ul li a:hover {
  box-shadow: 0 0 5px #505050 !important;
  -webkit-border-shadow: 0 0 5px #505050 !important;
  -moz-border-shadow: 0 0 15px #505050 !important;
  -o-border-shadow: 0 0 5px #505050 !important;
  -ms-border-shadow: 0 0 5px #505050 !important;
  color: #fff !important;
  transition: 0.3s !important;
}

#whatsapp-list ul li a span {
  box-sizing: border-box !important;
  display: inline-block !important;
  color: #fff !important;
}

#whatsapp-list ul li a .phone_location,
#whatsapp-list ul li a span i {
  box-sizing: border-box !important;
  margin-right: 5px !important;
  color: #fff !important;
}

#whatsapp-list ul li a .phone_location {
  float: left !important;
  margin-left: 5px !important;
  text-transform: capitalize !important;
}

#whatsapp-list ul li a .phone_number {
  box-sizing: border-box !important;
  float: right !important;
  color: #fff !important;
}

.we-iframe-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  z-index: 99999999;
  justify-content: center;
  width: 100%;
}

.we-iframe-wrapper iframe {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}
.we-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999998;
  background-color: rgba(0, 0, 0, 0.5);
}
